@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

nav .navbar {
  font-family: 'RIDIBatang', sans-serif;
  background-color: #fffbe6 !important;
}

.nav-button-item .nav-btn {
  color: rgb(48, 44, 39) !important;
  font-size: 15px;
  padding: 6px;
  background-color: #fffbe6;
  margin-top: 3px;
}

.nav-button-item .nav-btn:hover {
  background-color: rgb(87, 140, 111);
  color: white;
}

.nav-item {
  margin-left: 6px;
}

/* 로고 컨테이너 스타일 */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* 로고 이미지 스타일 */
.logo-img {
  height: 3rem; /* 기본 높이 */
  margin-right: 0.1rem; /* 이미지와 글씨 사이의 간격 줄임 */
}

/* 미디어 쿼리: 화면 크기에 따라 로고 크기 조절 */
@media (max-width: 576px) {
  .logo-img {
    height: 2.5rem; /* 작은 화면에서 로고 크기 조절 */
  }
  .navbar-brand {
    font-size: 1.75rem; /* 작은 화면에서 글씨 크기 조절 */
  }
}

@media (min-width: 1200px) {
  .logo-img {
    height: 3.2rem; /* 큰 화면에서 로고 크기 조절 */
  }
  .navbar-brand {
    font-size: 2rem; /* 큰 화면에서 글씨 크기 조절 */
  }
}
